@maxDimension: 80%;

div.absolute {
  position: absolute;
  width: @maxDimension;
  height: @maxDimension;
}

div.limitedHeight {
  max-height: @maxDimension;
}

.angular-google-map-container {
  height: 400px;
}