<div class="modal-header">
    <h4 class="modal-title">Configuration</h4>
</div>
<div class="modal-body" id="configuration-modal">
    <form>
        <div class="form-group">
            <label>Hashtag text</label>
            <input type="text" class="form-control" ng-model="hashtag" placeholder="Enter your tag">
        </div>
        <div class="form-group">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events">
                <ui-gmap-circle center='map.circle.center'
                                radius='map.circle.radius'
                                fill='map.circle.fill'
                                stroke='map.circle.stroke'
                                clickable='map.circle.clickable'
                                draggable='map.circle.draggable'
                                editable='map.circle.editable'
                                visible='map.circle.visible'
                                events='map.circle.events'
                        >
                </ui-gmap-circle>
            </ui-gmap-google-map>
        </div>
    </form>
</div>
<div class="modal-footer">
	<a class="btn btn-default pull-left" ng-href="{{ instagramUrl }}">Authorize Instagram</a>
    <button type="button" class="btn btn-default" data-ng-click="close()">Cancel</button>
    <button type="button" class="btn btn-primary" data-ng-click="save()">Save</button>
</div>
