<div class="row">
	<div class="col-md-12">
		<p class="text-center">Items found: {{ items.length }}</p>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<button class="btn btn-default" ng-click="stop()" ng-show="looping"><span class="glyphicon glyphicon-stop"></span></button>
		<button class="btn btn-default" ng-click="restart()" ng-hide="looping"><span class="glyphicon glyphicon-play"></span></button>
		<ul class="list-group">
			<li class="list-group-item clearfix" ng-class="{'active': i == currentItem}" ng-repeat="(i, item) in items">
				{{ item.message | limitTo: 20 }}
				<button class="btn btn-default pull-right" ng-click="show(i)"><span class="glyphicon glyphicon-search"></span></button>
			</li>
		</ul>
	</div>
	<div class="col-md-10">
	    <div ng-repeat="(i, item) in items" ng-show="i == currentItem" class="absolute velocity-enter-transition-slideRightIn velocity-leave-transition-slideLeftOut">
		    <div class="panel panel-default">
			    <div class="panel-body center-block">
				    <img ng-repeat="image in item.media" class="img-responsive" ng-src="{{ image.url }}" />
				    <h4>{{ item.message }}</h4>
			    </div>
		    </div>
	    </div>
	</div>
</div>
